.movie-sections{
    margin-top: 10px;
    margin-left: 30px;

    .movie-list-sections{
        margin-top: 10px;

        .update-btn{
          margin-right: 5px;
        }
        .delete-btn{
            margin-left: 5px;
        }
    }


}